@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*
{
    transition: all 0.1s ease;
    text-align: center;
    font-family: "Nunito";
    font-weight: 1000;
    text-space: 3px;
    -webkit-user-drag: none;
    user-select: none;
}
*::-webkit-scrollbar
{
    display: none;
}
*:focus
{
    outline: none;
}
hr
{
    border: solid black 4px;
    width: 95%;
    border-radius: 1000px;
}
html
{
    width: 100%;
    height: auto;
    min-height: 100%;
    margin: 0 auto;
}
body
{
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: linear-gradient(to left top, #ffe589, #f3d97d, #e8cd71, #dcc265, #d1b659);
}
div,form,nav
{
    display: flex;
    width: auto;
    align-content: center;
    justify-content: space-around;
    height: auto;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px 0px;
    margin-bottom: 0px;
}
div
{
    padding: 10px 30px;
}
div img, nav img
{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
}
img
{
    border: solid black 5px;
}
.row
{
    flex-direction: row;
    width: auto;
    height: auto;
}
.col
{
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    height: auto;
}
.box
{
    border: solid black 5px;
    border-radius: 20px;
    width: fit-content;
    padding: 10px;
    margin: 20px;
    min-width: 280px;
}
.full
{
    height: 100%;
    width: auto;
}
a
{
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
    color: black;
    margin: 10px;
    border: solid black 5px;
}
img:active,input:active,a:active
{
    scale: 0.95;
}
label
{
    font-size: 12px;
}
input,select
{
    background: rgba(110, 202, 190, 0.82);
    border-radius: 15px;
    border: solid black 4px;
    font-size: 12px;
    padding: 2px 15px;
}
.nope
{
    display: contents;
}